language: cpp
sudo: required
dist: trusty
compiler:
- gcc
- clang
os:
- linux

before_install:
- wget http://dist.libuv.org/dist/v1.11.0/libuv-v1.11.0.tar.gz
- tar zxf libuv-v1.11.0.tar.gz
- cd libuv-v1.11.0
- ./autogen.sh
- ./configure
- make
- sudo make install
- mkdir ../build
- cd ../build

script:
- time cmake ..
- time make
