language: cpp
sudo: required
dist: trusty
compiler:
- gcc
- clang
os:
- linux

env:
  global:
    - MAKEFLAGS="-j 2"

before_install:
- wget http://dist.libuv.org/dist/v1.11.0/libuv-v1.12.0.tar.gz
- tar zxf libuv-v1.12.0.tar.gz
- cd libuv-v1.12.0
- ./autogen.sh
- ./configure
- make
- sudo make install
- mkdir ../build
- cd ../build

script:
- cmake ..
- make
